.container{
    width: 970px;
    height: 900px;
    background-color: aliceblue;
    display: inline-block;
}
.line1{
    width: 900px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sidebar{
    width: 200px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.boxline1{
    width: 50px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.boxline1 div{
    background-color: royalblue;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: thick black;
}
.boxline2{
    width: 50px;
    height: 340px;
    display: grid;
    margin-top: 61px;
    margin-left: 5px;
}
.boxline2 div{
    background-color: royalblue;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: thick black;
}
.boxline3{
    width: 50px;
    height: 225px;
    display: grid;
    margin-top: 174px;
    margin-left: 5px;
}
.boxline3 div{
    background-color: rgb(247, 134, 119);
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: thick black;
}
