.continar{
    background-color: rgb(26, 64, 107);
    width: 970px;
    height: 1010px;
    display: inline-block;
}
header{
    width: 970px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

header img{
    size: 30px;
    width: 300px;
    display: inline-block;
}
.p1{
    display: inline-block;
    /* margin-left: 400px; */
    vertical-align: top;
    margin-left: 250px;

}
.serch{
    width: 300px;
    height: 80px;
    background-color: rgb(55, 56, 56);
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px black;


}
.pheader{
    width: 480px;
    
}
input{
    align-items: center;
    height: 40px;
    text-align: center;
    color: silver;
}
#btn{
    background-color: rgb(4, 61, 114);
    border-radius: 10px;
    color: white;
    width: 50px;
    margin-left: 10px;

}
nav{
    width: 750px;
    height: 70px;
    background-color: rgb(48, 109, 158);
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px black;

}
.h2nav{
    color: cornsilk;
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: center;
    justify-content: space-around;
    padding-top: 8px;

}
#ul1{
    list-style: none;
    text-align:center ;
    margin: 0px;
    padding: 0px;
    width: 600px;
}
.a1{
    color: cornsilk;
    text-align:center ;    
}
.body{
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    justify-content: space-evenly;
}
#pp{
    color: lavender;
font-size: 15px;

display: inline-block;
margin-left: 30px;
margin-right: 80px;
margin-top:0px ;
}
#h33{
    margin-top: 0px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(190, 190, 40);
    margin-left: 50px;
    text-align:center ;
    justify-content: space-around;
    height: 250px;
}
.bodyleft{
    width: 500px;
    height: 300px;
    background-color: snow;
    display: inline-block;
}
.bodyright{
    display: inline-block;
    width: 500px;
    height: 300px;
    background-color: snow;
}
.body2{
    display: flex;
}
h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.p2{
    display: flex;
    justify-content: center;
    text-align: center;
}
span{
    display: inline-block;
    color: white; font-size: 20px;
    align-items: center;
    
}
.a2{
    display: contents;
    color: rgb(64, 163, 243);
}
.ulbody1 li{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.li1{
    align-items: center;
    justify-content: center;
    list-style: square;
    color: black;
    text-align: center;
}
.li1 marker{
    margin-left: 10px;
    display: flex;
}
ul{
    display: grid;
    justify-content: center;
}
.footer{
    width: 970px;
    height: 120px;
    background-color: rgb(26, 56, 90);
    display: inline-block;
    justify-content: space-evenly;
}
.hfoter{
    display: flex;
    color: rgb(80, 139, 207);
    margin: 0px;
    justify-content: center;
    height: 80px;
}


