.continar{
    width: 970px;
    height: 800px;
    background-color: aliceblue;
}
.header{
    display: flex;
    width: 970px;
    background-color: rgb(38, 93, 129);
}
.header img{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.header h2{
    margin: 0px;
    padding: 0px;
    color: cornsilk;
    margin-left:  10px; ;
}
.pagebody{
    display: flex;
    width: 970px;
    height: 970px;
}
.sidebar{
    display: inline-block;
    width: 200px;
    height: 970px;
}
.mainbody{
    display: inline-block;
    width: 970px;
    height: 970px;
    margin-left: 20px;
}
.sidebar h3{
    height: 10px;
    width: 200px;
    
}
.sidebar p{
    font-weight:550;
    font-size: 15px;
}
.sidebar input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.div1{
    width: 200px;
    height: 1px;
    background-color: rgb(19, 72, 107);
    margin-top: 30px;
}
.divimg{
    width: 200px;
    height: 300px;
    margin-top: 30px;
    background-image:url(ad_background.png);
}
.divimg p{
    color: white;
    font-size: 30px;
    text-align: center;
}
.divimg img{
    width: 100px;
    height: 100px;
    margin-left: 40px;
}
.divimg input{
    background-color: rgb(31, 186, 248);
    width: 150px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}
.mainbody img{
    width: 20px;
    height: 20px;
    
}
.mainbody a{
    color: rgb(45, 112, 212);
    margin-top: 3px;
    margin-left: 3px;
    text-decoration: none;
    
}
.mainbody div{
    margin-top: 10px;
    
}
.mainbody div p{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    
}
.mainbody div h3{
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: cyan;
}
#header{
    width: 750px;
    height: 70px;
    display: flex;
    margin: 0px;
}
#linediv{
    width: 730px;
    height: 1px;
    background-color: rgb(26, 100, 170);
}
.mainbody2{
    width: 750px;
    height: 500px;
    display: inline-block;
}
.mainbody2 h2{
    margin: 0px;
    padding: 0px;
    color: rgb(18, 80, 151);
}
.footer{
    width: 750px;
    height: 200px;
    border: solid rgb(22, 103, 156);
    display: flex;
}
.titleandlogo{
    display: flex;
    height: 100px;
    width: 970px;
}

