.container{
    background-color: tan;
    width: 970px;
    height: fit-content;
    display: inline-block;
}
.image{
    display: inline-block;
    width: 970px;
    height: 100px; 
}
#img1{
    width: 100px;
    height: 100px;
    display: inline-block;
    align-items: center;
    padding-left: 250px;
    padding-top: 10px;
}
#img2{
    width: 100px;
    height: 100px;
    display: inline-block;
    align-items: center;
}
#h11{
    display: inline-block;

}
.body{
    display: inline-block;
    width: 950px;
    height: fit-content;
    padding-left: 12px;
    padding-top: 10px;
}
.imgbody{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: rgb(97, 155, 241);
    border: 5px solid;
}